# Analisis Data Reservasi Hotel

### Import Library

In [10]:
import pandas as pd
import prettytable as prtl

### Import dataset

In [11]:
df = pd.read_csv("Hotel Reservations.csv")

### Melihat bentuk dari dataset

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

### Menampilkan statistik dari attribute bertipe numerik

In [13]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

### Menampilkan 10 record pertama dari dataset dengan attribute numerik

In [14]:
df.select_dtypes(include=['int64', 'float64']).head(10)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,2,0,1,2,0,224,2017,10,2,0,0,0,65.00,0
1,2,0,2,3,0,5,2018,11,6,0,0,0,106.68,1
2,1,0,2,1,0,1,2018,2,28,0,0,0,60.00,0
3,2,0,0,2,0,211,2018,5,20,0,0,0,100.00,0
4,2,0,1,1,0,48,2018,4,11,0,0,0,94.50,0
5,2,0,0,2,0,346,2018,9,13,0,0,0,115.00,1
6,2,0,1,3,0,34,2017,10,15,0,0,0,107.55,1
7,2,0,1,3,0,83,2018,12,26,0,0,0,105.61,1
8,3,0,0,4,0,121,2018,7,6,0,0,0,96.90,1
9,2,0,0,5,0,44,2018,10,18,0,0,0,133.44,3

### Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe data numerik

In [15]:
datasetInformation = {}

datasetInformation['Jumlah Record'] = df.shape[0]
datasetInformation['Jumlah Attribute'] = df.shape[1]
datasetInformation['Nama Attribute'] = df.columns.tolist()
datasetInformation['Jumlah Attribute Dengan Tipe Angka'] = df.select_dtypes(include=['int64', 'float64']).shape[1]

dictKeys = list(datasetInformation.keys())

table = prtl.PrettyTable()
table.add_column(dictKeys[0], [datasetInformation['Jumlah Record']])
table.add_column(dictKeys[1], [datasetInformation['Jumlah Attribute']])
table.add_column(dictKeys[2], ['\n'.join(datasetInformation['Nama Attribute'])])
table.add_column(dictKeys[3], [datasetInformation['Jumlah Attribute Dengan Tipe Angka']])
print(table)

+---------------+------------------+--------------------------------------+------------------------------------+
| Jumlah Record | Jumlah Attribute |            Nama Attribute            | Jumlah Attribute Dengan Tipe Angka |
+---------------+------------------+--------------------------------------+------------------------------------+
|     36275     |        19        |              Booking_ID              |                 14                 |
|               |                  |             no_of_adults             |                                    |
|               |                  |            no_of_children            |                                    |
|               |                  |         no_of_weekend_nights         |                                    |
|               |                  |          no_of_week_nights           |                                    |
|               |                  |          type_of_meal_plan           |                                    |
|               |                  |      required_car_parking_space      |                                    |
|               |                  |          room_type_reserved          |                                    |
|               |                  |              lead_time               |                                    |
|               |                  |             arrival_year             |                                    |
|               |                  |            arrival_month             |                                    |
|               |                  |             arrival_date             |                                    |
|               |                  |         market_segment_type          |                                    |
|               |                  |            repeated_guest            |                                    |
|               |                  |     no_of_previous_cancellations     |                                    |
|               |                  | no_of_previous_bookings_not_canceled |                                    |
|               |                  |          avg_price_per_room          |                                    |
|               |                  |        no_of_special_requests        |                                    |
|               |                  |            booking_status            |                                    |
+---------------+------------------+--------------------------------------+------------------------------------+

### Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM terakhir (032) hingga data terakhir dan kolom 4 hingga kolom terakhir

In [16]:
df.iloc[32:, 3:] # menggunakan iloc

,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
32,0,3,Meal Plan 1,0,Room_Type 2,56,2018,12,7,Online,0,0,0,82.44,1,Not_Canceled
33,0,1,Not Selected,0,Room_Type 1,2,2018,1,9,Online,0,0,0,69.50,1,Not_Canceled
34,0,2,Meal Plan 1,0,Room_Type 1,72,2018,10,7,Offline,0,0,0,85.50,0,Not_Canceled
35,0,1,Not Selected,1,Room_Type 1,23,2018,4,27,Online,0,0,0,115.00,1,Not_Canceled
36,2,1,Meal Plan 1,0,Room_Type 1,34,2018,6,19,Online,0,0,0,81.00,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [17]:
# menggunakan loc
df.loc[32:, datasetInformation['Nama Attribute'][3:]]

,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
32,0,3,Meal Plan 1,0,Room_Type 2,56,2018,12,7,Online,0,0,0,82.44,1,Not_Canceled
33,0,1,Not Selected,0,Room_Type 1,2,2018,1,9,Online,0,0,0,69.50,1,Not_Canceled
34,0,2,Meal Plan 1,0,Room_Type 1,72,2018,10,7,Offline,0,0,0,85.50,0,Not_Canceled
35,0,1,Not Selected,1,Room_Type 1,23,2018,4,27,Online,0,0,0,115.00,1,Not_Canceled
36,2,1,Meal Plan 1,0,Room_Type 1,34,2018,6,19,Online,0,0,0,81.00,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

### Menampilkan jumlah label dari semua attribute yang bernilai object

In [18]:
objectList = df.select_dtypes(include=['object']).columns.tolist()
objectList.pop(0)

for i in objectList:
    print(df[i].value_counts())

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64
Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64
Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64
Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64